# Movies Tonight Part 2: SQL DDL

In [17]:
%load_ext sql
%sql sqlite:///Movies.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @Movies.db'

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [18]:
%%sql
DROP TABLE IF EXISTS MOVIES;
DROP TABLE IF EXISTS THEATER;
DROP TABLE IF EXISTS SHOW;
DROP TABLE IF EXISTS ARTIST;
DROP TABLE IF EXISTS CREDITS;

 * sqlite:///Movies.db
Done.
Done.
Done.
Done.
Done.

[]

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [19]:
%%sql

CREATE TABLE 'Movies'(
    MID INTEGER PRIMARY KEY, 
    MTitle TEXT NOT NULL, 
    Rating TEXT
);

 * sqlite:///Movies.db
Done.

[]

In [20]:
%%sql
 
CREATE TABLE 'Theater'(
    TID INTEGER PRIMARY KEY, 
    TName TEXT NOT NULL, 
    Location TEXT NOT NULL, 
    Phone TEXT
);

 * sqlite:///Movies.db
Done.

[]

In [21]:
%%sql
CREATE TABLE 'Artist'(
    AID INTEGER PRIMARY KEY, 
    ArtistName TEXT
);

 * sqlite:///Movies.db
Done.

[]

In [22]:
%%sql
CREATE TABLE 'Show'(
    SID INTEGER PRIMARY KEY,
    STime TEXT NOT NULL,
    TID INTEGER NOT NULL,
    MID INTEGER NOT NULL,
    FOREIGN KEY (MID) REFERENCES Movies(MID)
    FOREIGN KEY (TID) REFERENCES Movies(TID)
); 


CREATE TABLE 'Credits'(
    CID INTEGER PRIMARY KEY, 
    CCode TEXT NOT NULL,
    AID INTEGER NOT NULL,
    MID INTEGER NOT NULL,
    FOREIGN KEY (MID) REFERENCES Movies(MID),
    FOREIGN KEY (AID) REFERENCES Movies(AID)
);

 * sqlite:///Movies.db
Done.
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

In [23]:
# Cannot use ALTER Table in SQLite

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".

In [16]:
# Completed Part 2